@model IEnumerable<GogoKit.Models.Response.Listing>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticketGroup in Model.GroupBy(x => x.TicketType.Name))
        {
            var ticket = ticketGroup.FirstOrDefault();
            if (ticket == null || !ticketGroup.Any()) { continue; }
            if (!string.IsNullOrWhiteSpace(ticketGroup.Key))
            {
                <tr>
                    <td colspan="3"><strong>@ticketGroup.Key</strong></td>
                </tr>
            }
            <tr>
                <td>@ticket.TicketPrice.Display</td>
                <td>Section: @ticket.Seating.Section Row: @ticket.Seating.Row</td>
                <td>Number of Tickets: @ticket.NumberOfTickets</td>
            </tr>
        }
    </tbody>
</table>