@model IEnumerable<GogoKit.Models.Response.Listing>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var page = 0;
            var i = 0;
        }
        @foreach (var ticketGroup in Model.OrderBy(x => x.Seating.Section).GroupBy(x => x.Seating.Section))
        {
            if (i % 10 == 0) { page++; }
            var ticketNumber = ticketGroup.Sum(x => x.NumberOfTickets);
            var ticket = ticketGroup.FirstOrDefault();
            if (ticket == null || !ticketGroup.Any()) { continue; }
            if (!string.IsNullOrWhiteSpace(ticketGroup.Key))
            {
                <tr class="ticketRow" data-ticketPage="@page">
                    <td colspan="2">Section: <strong>@ticketGroup.Key</strong></td>
                </tr>
            }
            <tr class="ticketRow" data-ticketPage="@page">
                <td>@ticket.TicketPrice.Display</td>
                <td>Number of Tickets: @ticketNumber</td>
            </tr>
            i++;
        }
    </tbody>
</table>

<input id="PrevTicketsPage" type="button" style="display:none" onclick="EventTickets.GetPrevPage()" value="prev" />
<input id="NextTicketsPage" type="button" onclick="EventTickets.GetNextPage()" value="next" />

<script>
    $(function () {
        EventTickets.GetPageOfResults(1);
    });
</script>